*{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(82, 233, 22);
    padding: 15px;
    
}



/* SECCION-GENERAL*/
section{
    height: 720px;
}
section h2{
    text-align: center;
    padding-top: 25px;
    font-size: xx-large;

}

/*PRESENTACIÓN*/
#presentacion{

    height: 720px;
    background-color: rgb(255, 0, 0);    
}

header h1{
    color: white;
    font-family: Helvetica;     
}

#centrado{
    display: flex;
    height: 50%;
    width: 60%;
   }
#seccionPresentacion{    
    height: 662px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 200px;
}

#parrafoPerfil{
    padding: 20px 0 0 20px;
}


/*PROYECTOS*/

#proyectos{ 
    background-color: blueviolet;
    height: 600px;
}
#seccionProyectos{
    height: 500px;
}

#proyectosCentrado{
    display: flex;
    height: 400px;    
    align-items: center;
    justify-content:center;    
}

#proyectosCentrado div{
    margin: 20px;
    border: 1px solid black;
}


/*SOBRE MI*/
    #sobreMi{
        display: flex;
        flex-direction: column;
        background-color: darkorange;
    }

    #seccionVideo{
        display: flex;
        justify-content: center;
    }

    iframe{
        padding-top: 40px;
        
    }

    #centrarParrafo{
        display:flex ;
        justify-content: center;
    }

    #sobreMiParrafo{
        margin-top: 15px;
        padding: 5px;
        width: 60%;
        border: 1px solid black;
        
    }

/*CONTACTO*/
#contacto{
    height: 600px;
}

#cajaDeContacto{
  display: flex;
  justify-content: center;
  width: 100%;
 
}

#cajaCentrar{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid black;
}

#cajaDeMail{
    border: 1px solid black;
    margin: 20px;
    padding: 10px;
    width: 60%;
    display:flex;
    justify-content: center;
}

#cajaDeMail button{
    display: block;
}

#cajaDeRedes{
    width: 20%;
    margin: 20px;
    padding: 10px;
}

#cajaDeRedes div{
    border: 1px solid black;
    padding: 30px;
    margin: 10px;

}


/*FOOTER*/

footer{
    background-color: rgb(82, 233, 22);
}
footer p{
    text-align: center;
    color: white;
}


/*@MEDIA*/

@media(max-width:800px){
    #centrado{
        height: 70%;
        width: 70%;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:720px){
    #proyectosCentrado{
        flex-wrap: wrap;
    }
}

@media(max-width:500px){
    
    #proyectos{
        height: 900px;
    }

}