*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #3e76f8;
    padding: 15px;
    
}



/* SECCION-GENERAL*/
section{
    height: 720px;
}
section h2{
    text-align: center;
    padding-top: 25px;
    font-size: xx-large;

}
img{
    width: 200px;

}

/*PRESENTACIÓN*/
#presentacion{

    height: 720px;
    background-color:white;    
}

header h1{
    color: white;
    font-family: Helvetica;     
}

#centrado{
    display: flex;
    height: 50%;
    width: 60%;
   }
#seccionPresentacion{    
    height: 662px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fotoPerfil img{
    border-radius: 50%;
    box-shadow: -4px 3px 15px 1px rgba(0,0,0,0.53);
}
#parrafoPerfil h3{
    color: rgb(105, 102, 102);
    font-size: xx-large;
}

#parrafoPerfil{
    font-size: larger;
    padding: 20px 0 0 20px;
    color: black;
}

#parrafoPerfil p{
    margin-top: 10px;
}


/*PROYECTOS*/

#proyectos{ 
    background-color: #779efa;
    background-image:  radial-gradient(#3e76f8 1.9000000000000001px, transparent 1.9000000000000001px), radial-gradient(#2d5fd4 1.9000000000000001px, #316aee 1.9000000000000001px);
    background-size: 76px 76px;
    background-position: 0 0,38px 38px;
    height: 600px;
}

#proyectos div h2{
    color: white;
}

#seccionProyectos{
    height: 500px;
}

#proyectosCentrado{
    display: flex;
    height: 400px;    
    align-items: center;
    justify-content:center;    
}

#proyectosCentrado div{
    margin: 20px;
    border: 1px solid rgba(0, 0, 0, 0.322);
    border-radius: 15px;
    box-shadow: -4px 3px 15px 1px rgba(0,0,0,0.53);
}

#proyectosCentrado div img{
    object-fit: cover;
    height: 200px;
}

#proyectosCentrado div p{
    text-align: center;
    width: 200px;
}

.tituloProyecto{
    color: white;
    font-size: larger;
}

/*SOBRE MI*/
    #sobreMi{
        display: flex;
        flex-direction: column;
        background-color: #779efa;
        background-image:  radial-gradient(#3e76f8 1.9000000000000001px, transparent 1.9000000000000001px), radial-gradient(#2d5fd4 1.9000000000000001px, #316aee 1.9000000000000001px);
        background-size: 76px 76px;
        background-position: 0 0,38px 38px;

    }

    #sobreMi div h2{
        color: white;
    }

    #seccionVideo{
        display: flex;
        justify-content: center;
    }

    iframe{
        padding-top: 40px;
        
    }

    #centrarParrafo{
        display:flex ;
        justify-content: center;
    }

    #sobreMiParrafo{
        margin-top: 25px;
        padding: 10px;
        width: 60%;
        box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;
        background-color: rgb(204, 197, 230);
        border-radius: 15px;

    }

/*CONTACTO*/
#contacto{
    height: 500px;
}

#cajaDeContacto{
  display: flex;
  justify-content: center;
  width: 100%;
 
}

#cajaCentrar{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#cajaDeMail{
    margin: 20px;
    padding: 10px;
    width: 55%;
    display:flex;
    justify-content: center;
}

#cajaDeMail button{
    display: block;
}
form{
    margin-top: 30px;
    
}

#cajaDeMail form input{
    width: 100%;
}

#btnEnviar{
    border: none;
    background-color: #316aee;
    padding: 5px 10px;
}

#mensaje{
    width: 100%;
    height: 50%;
    margin-top: 5px;
}


#cajaDeRedes{
    width: 20%;
    padding: 5px;
}

#cajaDeRedes div{
    margin: 10px;
}

#cajaDeRedes div a img{
    width: 100px;
}


/*FOOTER*/

footer{
    height: 30px;
    background-color: #3e76f8;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
footer p{
    color: white;
}


/*@MEDIA*/

@media(max-width:800px){
    #centrado{
        height: 70%;
        width: 70%;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:720px){
    #proyectosCentrado{
        flex-wrap: wrap;
    }
    #proyectos{
        height: 700px;
    }
    
    #cajaDeMail{
        margin-bottom: 10px;
    }
}

@media(max-width:600px){

#parrafoPerfil{
    text-align: center;
}

    #cajaCentrar{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    #cajaDeRedes{
        display: flex;
        flex-direction: row;
        width: 70%;
    }
    
    #cajaDeRedes div a img{
        width: 100%;
    }


}


@media(max-width:500px){
    
    #proyectos{
        height: 1000px;
    }

}